button {
    border-radius: 50%;
    padding: 1rem;
    border: 0.1rem solid black;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 46%;
    background-color: #bbb;
    border: none;
    margin-right: 6px;
    cursor: pointer;
    padding: 0;
    outline: none;
    transition: background-color 0.4s ease;
}

.dot.active {
    background-color: #000;
    width: 15px;
    border-radius: 3px;
}

.dot-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 3rem 2rem;
}

.card {
    border-radius: 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

}

.card-body {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: auto;
    padding: 2rem 1rem;
    font-family: sans-serif;
}

.card-text {
    min-height: 130px;
}

p{
    color: grey;
}

.svg-wrapper {
    height: 25rem;
    padding-top: 5rem;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

.active {
    background-color: black;
}